/* 
Created by: Deni Balak
Date Created: 11/29/2019
Date Modified:
*/
header, footer {
    background-color: indianred;
    color: white;
    text-align: center;
}
header {
    font-size: 1.5em;
    height: 150px;
    padding: 20px 5px 20px 5px;
}
footer {
    font-size: 1em;
    padding: 5px 5px 5px 5px; 
}
.nav-pills a{
    background-color: darksalmon;
    color: antiquewhite;
}
.nav-pills a:active{
    text-decoration: none;
}
.nav-pills:visited{
    background-color: rosybrown;
    color: darkred;
}
.nav-pills:hover{
    font-weight: bold;
}
.nav-pills{
    justify-content: center;
}
.carousel .item {
    height: 100px;
}
.item img{
    min-height: 100px;
}
.form-group {
    justify-content: center;
}
input:invalid, input:invalid:required, select:invalid, select:invalid:required {
    border: 1.5px solid red;
}